 <%= form_with url: upload_path, local: true, method: :post do %>
    <div>
        <%= label_tag "name" %>
        <%= text_field_tag "name", nil %>
    </div>
    <div>
        <%= label_tag "email" %>
        <%= email_field_tag "email", nil %>
    </div>
    <%= submit_tag "Send Feedback" %>
    <% if local_assigns.has_key? :status_msg %>
        <p><%= status_msg %></p>
    <% end %>
 <% end %>